<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="rollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/xzl-admin.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/xzl-admin.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%caller{2}%n
            </pattern>
        </encoder>
    </appender>


    <!-- project default level -->
    <logger name="com.ideadata" level="debug"/>
    <logger name="org.springframework" level="Error"/>
    <logger name="org.springframework.data.mongodb" level="Error"/>
    <logger name="org.quartz.core" level="Error"/>
    <logger name="com.alibaba" level="Error"/>
    <root level="debug">
        <appender-ref ref="console"/>
    </root>
</configuration>