<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="com.ideadata.web.controller.**">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
    <!--配置controller映射数据转换策略，还可使用高级自定义方式(RequestMappingHandlerMapping\RequestMappingHandlerAdapter)但需先删除此项 -->
    <mvc:annotation-driven  conversion-service="conversionService">
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter" />
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
                            </bean>
                        </property>
                        <property name="serializationInclusion">
                            <!-- 注入枚举类型 -->
                            <value type="com.fasterxml.jackson.annotation.JsonInclude.Include">NON_NULL</value>
                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 自定义扩展属性数据类型转换扩展点 -->
    <bean id="conversionService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.idp.pub.web.converters.StringToDateConverter"/>
                <bean class="com.idp.pub.web.converters.StringToDateTimeConverter"/>
            </set>
        </property>
    </bean>
    <!-- url访问权限访问控制拦截器
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/*.shtml"/>
            <mvc:exclude-mapping path="/auth.shtml"/>
            <mvc:exclude-mapping path="/chart.shtml"/>
            <mvc:exclude-mapping path="/echart.shtml"/>
            <mvc:exclude-mapping path="/export.shtml"/>
            <mvc:exclude-mapping path="/setting.shtml"/>
            <bean class="com.idp.security.web.interceptor.SecurityInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>-->

    <!-- 声明一个文件上传解析器. -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxInMemorySize" value="10240"/>
        <property name="maxUploadSize" value="-1"/>
        <property name="defaultEncoding" value="utf-8"></property>
    </bean>
</beans>